In [ ]:
import pandas as pd
coffee=pd.read_csv(r'C:\Users\ankit\Desktop\Projects\Data Science\Pandas\Data\coffee.csv')
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [3]:
coffee.head(10)

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35
5  Wednesday       Latte          25
6   Thursday    Espresso          40
7   Thursday       Latte          30
8     Friday    Espresso          45
9     Friday       Latte          35

In [14]:
coffee.tail()

         Day Coffee Type  Units Sold
9     Friday       Latte          35
10  Saturday    Espresso          45
11  Saturday       Latte          35
12    Sunday    Espresso          45
13    Sunday       Latte          35

In [15]:
coffee.sample(10)

          Day Coffee Type  Units Sold
9      Friday       Latte          35
7    Thursday       Latte          30
5   Wednesday       Latte          25
8      Friday    Espresso          45
13     Sunday       Latte          35
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
12     Sunday    Espresso          45
1      Monday       Latte          15
10   Saturday    Espresso          45

In [ ]:
#accessing specific values -->
#NAME.loc[#ROWS, #COLUMNS] based on index names
coffee.loc[[1,5]]

         Day Coffee Type  Units Sold
1     Monday       Latte          15
5  Wednesday       Latte          25

In [24]:
coffee.loc[5:8,["Day","Units Sold"]]

         Day  Units Sold
5  Wednesday          25
6   Thursday          40
7   Thursday          30
8     Friday          45

In [32]:
#based on index values coffee.iloc[]
coffee.iloc[0:5,[0,1,2]]

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [50]:
#coffee.index=coffee["Day"]

In [51]:
#coffee.loc["Monday":"Wednesday"]

In [52]:
print(coffee)

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso        25.0
Monday        Monday       Latte        15.0
Tuesday      Tuesday    Espresso        30.0
Tuesday      Tuesday       Latte        20.0
Wednesday  Wednesday    Espresso        35.0
Wednesday  Wednesday       Latte        25.0
Thursday    Thursday    Espresso        40.0
Thursday    Thursday       Latte        30.0
Friday        Friday    Espresso        45.0
Friday        Friday       Latte        35.0
Saturday    Saturday    Espresso        45.0
Saturday    Saturday       Latte        35.0
Sunday        Sunday    Espresso        45.0
Sunday        Sunday       Latte        35.0
1                NaN         NaN        10.0

In [59]:
coffee.loc[1,"Units Sold"]=10
coffee.head()

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso        25.0
Monday        Monday       Latte        10.0
Tuesday      Tuesday    Espresso        10.0
Tuesday      Tuesday       Latte        10.0
Wednesday  Wednesday    Espresso        35.0

In [79]:
coffee.at["Monday","Units Sold"]

Day
Monday    10.0
Monday    10.0
Name: Units Sold, dtype: float64

In [81]:
coffee.iat[0,2]

np.float64(10.0)

In [85]:
coffee["Units Sold"]

Day
Monday       10.0
Monday       10.0
Tuesday      10.0
Tuesday      10.0
Wednesday    35.0
Wednesday    25.0
Thursday     40.0
Thursday     30.0
Friday       45.0
Friday       35.0
Saturday     45.0
Saturday     35.0
Sunday       45.0
Sunday       35.0
1            10.0
Name: Units Sold, dtype: float64

In [86]:
coffee.Day

Day
Monday          Monday
Monday          Monday
Tuesday        Tuesday
Tuesday        Tuesday
Wednesday    Wednesday
Wednesday    Wednesday
Thursday      Thursday
Thursday      Thursday
Friday          Friday
Friday          Friday
Saturday      Saturday
Saturday      Saturday
Sunday          Sunday
Sunday          Sunday
1                  NaN
Name: Day, dtype: object

In [89]:
coffee.sort_values("Units Sold",ascending=False)

                 Day Coffee Type  Units Sold
Day
Sunday        Sunday    Espresso        45.0
Saturday    Saturday    Espresso        45.0
Friday        Friday    Espresso        45.0
Thursday    Thursday    Espresso        40.0
Friday        Friday       Latte        35.0
Wednesday  Wednesday    Espresso        35.0
Sunday        Sunday       Latte        35.0
Saturday    Saturday       Latte        35.0
Thursday    Thursday       Latte        30.0
Wednesday  Wednesday       Latte        25.0
Tuesday      Tuesday    Espresso        10.0
Tuesday      Tuesday       Latte        10.0
Monday        Monday    Espresso        10.0
Monday        Monday       Latte        10.0
1                NaN         NaN        10.0

In [91]:
coffee.sort_values(["Units Sold","Coffee Type"],ascending=[0,1])

                 Day Coffee Type  Units Sold
Day
Friday        Friday    Espresso        45.0
Saturday    Saturday    Espresso        45.0
Sunday        Sunday    Espresso        45.0
Thursday    Thursday    Espresso        40.0
Wednesday  Wednesday    Espresso        35.0
Friday        Friday       Latte        35.0
Saturday    Saturday       Latte        35.0
Sunday        Sunday       Latte        35.0
Thursday    Thursday       Latte        30.0
Wednesday  Wednesday       Latte        25.0
Monday        Monday    Espresso        10.0
Tuesday      Tuesday    Espresso        10.0
Monday        Monday       Latte        10.0
Tuesday      Tuesday       Latte        10.0
1                NaN         NaN        10.0

In [94]:
for index,row in coffee.iterrows():
    print(index)
    print(row['Units Sold'])
    print("\n")

Monday
10.0


Monday
10.0


Tuesday
10.0


Tuesday
10.0


Wednesday
35.0


Wednesday
25.0


Thursday
40.0


Thursday
30.0


Friday
45.0


Friday
35.0


Saturday
45.0


Saturday
35.0


Sunday
45.0


Sunday
35.0


1
10.0