In [22]:
import pandas as pd
df=pd.DataFrame([[1,2,3,],[4,5,6],[7,8,9]],columns=["A","B","C"])

df.index
df.head()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
df.tail

<bound method NDFrame.tail of    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9>

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [15]:
df.dtypes

A    int64
B    int64
C    int64
dtype: object

In [ ]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [13]:
df.describe

<bound method NDFrame.describe of    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9>

In [14]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
df.info

<bound method DataFrame.info of    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9>

In [19]:
df['A'].unique

<bound method Series.unique of 0    1
1    4
2    7
Name: A, dtype: int64>

In [25]:
df.size

9